.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  position: -webkit-sticky;
  position: sticky;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 18rem;
    list-style: none;
  }
}
